<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visitka2</title>
    <link rel="stylesheet" href="visitka2.css">
</head>
<body>
    
    <header class="header">
        <div class="container">
            <nav class="nav">
                <h1>NeigborConnect</h1>
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Мой профиль</a></li>
                    <li><a href="#">Поиск жилья</a></li>
                    <li><a href="#">Поиск соседей</a></li>
                    <li><a href="#">Понравившееся</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </nav>
        </div>
    </header>

</body>
</html>